:root {
    --color-primary: blue;
    --transition: 300ms ease-in-out;
    --color-black: black;
    --color-white: #fff;
    --color-red: rgb(255, 0, 0);
    --padding: 15px 20px;
    --opacity: 90%;
    --radius: 10px;
    --radius2: 5px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    justify-items: center;
    height: 100vh;
    margin: 0;
    background: url(bg1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-black);
}

*, *::before, *::after {
    margin: none;
    padding: none;
    color: var(--color-white);
    color: var(--color-black);
    font-family: calibri;
}

/* Begin styling for the header elemant of the main page*/

.header {
    display: flex;
    top: 0;
    width: 100%;
    color: var(--color-white);
    left: 0;
    background: var(--color-primary);
    opacity: var(--opacity);
}

.navBar {
    display: flex;
    color: var(--color-white);
    width: 100%;
    justify-content: space-between;
    align-items: space-between;
}

.navBtn {
    border-right: 2px solid white;
    padding: 10px;
    text-align: center;
    color: var(--color-white);
    width: 100%;
    cursor: pointer;
}

.navBtn:hover {
    background: black;
}

/* End styles for the header of the main page*/

/* Begin styles for the content of the main page*/

.screen {
    display: flex;
}

.container {
    background: white;
    width: 50%;
    display: flex;
    border-radius: var(--radius);
    opacity: var(--opacity);
    margin: 8% auto;
    color: var(--color-white);
}

/* End of styles for the left navigation bar*/
aside {
    width: 25%;
    background: var(--color-primary);
    opacity: var(--opacity);
    border-radius: var(--radius) 0 0 var(--radius);
    border-right: 2px solid white;
}

aside .levels {
    padding: 10px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 15px;
    font-family: cambria;
}

aside .levels:first-child {
    border-top-left-radius: 10px;
}

aside .levels:last-child {
    border-bottom-left-radius: 10px;
}

aside .levels:hover {
    background: red;
}
/* End of styles for the left navigation bar*/

/* Beginning of styles for the level information container of page*/

main {
    width: 75%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

.LevelImgContainer {
    background: url('bg1.png');
    background-size: cover;
    width: 92%;
    height: 70%;
    margin: auto;
    margin-top: 15px;
    transform: translateX(-2px);
}

main header {
    background: var(--color-primary);
    opacity: var(--opacity);
    border-top-right-radius: 10px;
    color: var(--color-white);
    font-size: 27px;
    font-weight: 500;
    padding: var(--padding);
    justify-content: center;
    align-items: center;
}

.right {
    color: var(--color-white);
    width: 100%;
}

main footer {
    background: var(--color-primary);
    opacity: var(--opacity);
    position: absolute;
    bottom: 0; 
    border-bottom-right-radius: 10px;
    color: var(--color-white);
    font-size: 16px;
    width: 100%;
    font-weight: 500;
    padding: var(--padding);
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    display: flex;
}

main footer .footerText {
    margin-left: 15px;
    color: var(--color-white);
}

main footer .footerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main footer .footerBtn {
    background: var(--color-red);
    color: var(--color-white);
    padding: 6px;
    border-radius: var(--radius2);
    margin-right: 15px;
    border: 1px solid var(--color-red);
    cursor: pointer;
    transition: var(--transition);
}

main footer .footerBtn:first-child {
    margin-right: 10px;
    background: 0;
    border: 1px solid var(--color-white);
}

main footer .footerBtn:first-child:hover {
    background: var(--color-red);
    border: 1px solid var(--color-red);
    transform: scale(1.1);
}

main footer .footerBtn:hover {
    background: none;
    border: 1px solid var(--color-white);
    transform: scale(1.1);
}
/* End of styles for the level information container of page*/

/* End of styles for the main page*/

/* Hide all elements with the hide class*/

.hide {
/*    opacity: 0;*/
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.hideCanvas {
    display: none;
}

/* Beginning of styles for the canvas*/ 

canvas {
    background: url(bg1.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    bottom: 0;
    color: var(--color-white);
    display: block;
}

.scoreboard {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    font-size: 20px;
    font-family: cursive;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    color: var(--color-primary);
}

#scoreBox {
    display: flex;
    align-items: center;
    color: var(--color-black);
    
}

#scoreCaption {
    color: var(--color-black);
    font-family: cambria;
    font-size: 20px;
    text-shadow: 0 2.5px 1px white;
}

#speedCaption {
    color: var(--color-white);
    font-family: cambria;
    font-size: 20px;
    text-shadow: 0 2.5px 1px var(--color-black);
}

#scoreBox #realScore {
    text-align: center;
    padding-left: 5px;
    font-family: cambria;
    color: var(--color-black);
    font-size: 20px;
    text-shadow: 0 2.5px 1px white;
}

#lifeBar {
    width: 60%;
    height: 5px;
    background: var(--color-white);
    box-shadow: 0 1px 6px white;
}

#lifeLoader {
    width: 100%;
    height: 100%;
    background: black;
}

#timeBox {
    display: flex;
}

#timeBox #realSpeed {
    text-align: center;
    padding-left: 5px;
    font-family: cambria;
    color: var(--color-white);
    font-size: 20px;
    text-shadow: 0 2.5px 1px var(--color-black);
}

/* Change the look of the sweet alert library message popup*/
.swal2-popup {
    color: blue !important;
}

/* Beginning of the media query for the level selection page*/



/* End of the media query for the level selection page*/